@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #212337;
}

@theme inline {
    --color-primary-text: #212337;
    --color-primary: #ff6a1a;
    --color-secondary: #749b3f;
    --font-secondary: var(--font-Questrial);
}

body {
    @apply text-[#212337];
}

.container {
    @apply w-[96%] max-w-[1200px] mx-auto;
}

.banner_bg {
    background: linear-gradient(180deg, #f1f1f1, #f1f1f1);
    /* background-color: #f1f1f1 ;  */
    /* z-index: 999; */
}
