@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #212337;
    --foreground: #212337;
}

@theme inline {
    --color-primary-text: #212337;
    --color-primary: #ff6a1a;
    --color-secondary: #749b3f;
    --color-shadow: #d9d9d9;
    --font-primary: var(--font-Rubik);
    --font-secondary: var(--font-Questrial);
}

body {
    @apply text-[#212337];
}

.container {
    @apply w-[96%] max-w-[1200px] mx-auto;
}

.banner_bg {
    background: linear-gradient(180deg, #f1f1f1, #f1f1f1);
    /* background-color: #f1f1f1 ;  */
    /* z-index: 999; */
}

/* custom tab design */
.ant-tabs .ant-tabs-tab-btn {
    border: 1px solid #d9d9d9 !important;
    color: #a6a6a6 !important;
    padding: 12px 24px !important;
    font-size: 18px !important;
    border-radius: 8px !important;
}

.ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible),
.ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible),
.ant-tabs .ant-tabs-tab-btn:active,
.ant-tabs .ant-tabs-tab-remove:active {
    background: #749b3f !important;
    border: 1px solid #749b3f !important;
    color: #ffffff !important;
}
.ant-tabs .ant-tabs-ink-bar {
    background: transparent !important;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    background: #749b3f !important;
    border: 1px solid #749b3f !important;
    color: #ffffff !important;
}
.ant-tabs .ant-tabs-tab:hover {
    color: #749b3f !important;
}
.ant-tabs-top > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-16dneet).ant-tabs-bottom
    > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-16dneet).ant-tabs-top
    > div
    > .ant-tabs-nav::before,
:where(.css-dev-only-do-not-override-16dneet).ant-tabs-bottom
    > div
    > .ant-tabs-nav::before {
    border-bottom: 0px solid #f0f0f0 !important;
}

/* ======================== modal custom style ==============================*/
.auth-modal .ant-modal-body {
    padding: 32px;
}

/* ========================Checkbox custom design ============================ */
.remember-checkbox .ant-checkbox-inner {
    background: transparent !important;
    border: 1px solid #ff6a1a !important;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.remember-checkbox:hover .ant-checkbox-inner {
    border-color: #ff6a1a !important;
}

.remember-checkbox .ant-checkbox-checked .ant-checkbox-inner {
    background: transparent !important;
    border-color: #ff6a1a !important;
}

.remember-checkbox .ant-checkbox-inner::after {
    border-color: #ff6a1a !important;
}

/* ==================swiper================= */
.swiper-pagination-bullet-active {
    background: #749b3f !important;
}
/* ================== pagination custom style */
.ant-pagination-item-active {
    background-color: #749b3f !important;

    border-color: #749b3f !important;
}
.ant-pagination-item-active a {
    color: #fff !important;
}

@media (max-width: 540px) {
    .ant-tabs .ant-tabs-tab-btn {
        padding: 6px 12px !important;
        font-size: 12px !important;
    }
    .auth-modal .ant-modal-body {
        padding: 0px;
    }
}
